<h1>Two Sense</h1>
<div class="row">
    <div class="col-md-6">
        <h2>News</h2>
            {{#each article}}
            <a target="_blank" href="{{this.link}}"><h3>{{this.headline}}</h3></a>
            <p>{{this.summary}}</p>
            <button class="commentBtn">Comment</button>
            {{/each}}
    </div>
</div>